# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# Streamlit local state
.streamlit/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
Desktop.ini
.DS_Store
